version: 2.1
orbs:
  python: circleci/python@2.0.0

commands:
  install-project:
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: poetry

jobs:
  lint:
    executor:
      name: python/default
      tag: "3.12"
    steps:
      - install-project
      - run:
          name: Run ruff linting
          command: poetry run ruff check src tests
      - run:
          name: Check code formatting with black
          command: poetry run black --check src tests

  type-check:
    executor:
      name: python/default
      tag: "3.12"
    steps:
      - install-project
      - run:
          name: Run mypy type checking
          command: poetry run mypy src

  test:
    executor:
      name: python/default
      tag: "3.12"
    steps:
      - install-project
      - run:
          name: Run tests with coverage
          command: poetry run pytest --cov=src --cov-report=term-missing --cov-report=xml
      - store_artifacts:
          path: coverage.xml
          destination: coverage

workflows:
  version: 2
  ci:
    jobs:
      - lint
      - type-check
      - test
